.heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slash {
  height: 2.8em;
  border: 5px solid #213547;
}
.slash::before {
  content: "";
}

.logo {
  width: 70px;
  transform: rotateX("180deg");
  height: auto;
}
