.language-panel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
}
.text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

select {
  padding: 20px;
  width: 50%;
  border: 0.5px solid rgba(128, 128, 128, 0.309);
  border-radius: 5px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 15px;
  appearance: none;
}

textarea {
  border: 0.5px solid rgba(128, 128, 128, 0.309);
  width: 100%;
  text-align: left;
  resize: none;
  padding: 0.5rem 1rem;
  font-family: favorites;
  border-radius: 5px 5px 0 0;
}

.textarea {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

#toText {
  background-color: rgba(128, 128, 128, 0.096);
  border: 0.5px solid rgba(128, 128, 128, 0.096);
  border-radius: 0 0 5px 5px;
}
#toText::placeholder {
  color: rgb(92, 92, 92);
}

@media (min-width: 648px) {
  .text-area {
    flex-direction: row;
    gap: 2vw;
  }

  textarea {
    border-radius: 5px;
  }
  #toText {
    border-radius: 5px;
  }
}
